# Node modules
/node_modules/

# Logs & runtime data
/logs/
/*.log
/pids/
/*.pid

# Env files
.env
.env.local
.env.*.local

# Build output (if using Babel/TypeScript)
dist/
build/

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cache
*.cache

